server:
  port: ${PORT:8081}
spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webmvc:
          routes:
          - id: customer-service
            uri: lb://customer-service
            predicates:
              - Path=/customer-service/**
          - id: order-service
            uri: lb://order-service
            predicates:
              - Path=/order-service/**
management:
  endpoints:
    web:
      exposure:
        include: health,info
eureka:
  instance:
    hostname: localhost
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka