server:
  port: ${PORT:8083}
spring:
  application:
    name: order-service
eureka:
  instance:
    hostname: localhost
    prefer-ip-address: false
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka